body { 
    width: 360px; 
    padding: 12px;
    text-align: center;
    background-color: rgb(241, 244, 168);
 }
textarea { 
    width: 100%; 
    height: 120px; 
}
button { 
    margin-top: 8px; 
    padding: 8px 12px; 
    border-radius: 5px;
    outline : none;
    background-color: rgb(234, 255, 127);
}
label { 
    font-weight: bold; 
    display:block; 
    margin-bottom:6px; 
}